.home {
    padding-bottom: 50px;
}
.home :global(.iconfont){
    font-size: 20px;    
}
.home :global(.am-tab-bar-bar){
    position: fixed;
    bottom: 0;    
}
.home :global(.am-tab-bar) {
    height: 50px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}