.swiper {
  height: 212px;
  position: relative;
}
.swiper .am-flexbox {
  z-index: 1;
}
/* 顶部导航 */
.search-box {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 0 10px;
}
.search {
  flex: 1;
  height: 34px;
  margin: 0 10px;
  padding: 5px 5px 5px 8px;
  background-color: #fff;
}
.location .icon-arrow {
  margin-left: 2px;
  font-size: 12px;
  vertical-align: middle;
  color: #7f7f80;
}
.form {
  border-left: 1px solid #e5e5e5;
  margin-left: 12px;
  line-height: 16px;
}
.form .icon-seach {
  vertical-align: middle;
  margin: 0 2px 0 12px;
  color: #7f7f80;
  font-size: 15px;
}
.icon-map {
  font-size: 25px;
  color: #fff;
}
/* 首页导航  */
.nav {
  padding: 10px 0;
}
  .nav img {
    width: 48px;    
  }
  .nav  h2 {
    font-weight: normal;
    font-size: 13px;
    margin-top: 7px;
  }
  .nav .am-flexbox-item {
    text-align: center;
  }
  /* 租房小组 */
  .groups {
    padding: 0 10px 5px 10px;
    background-color: #eee;
  }
  .groups-title {
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
  }
  .groups-title span {
    font-weight: normal;
    font-size: 14px;
    color: #999;
  }
  .group-item .desc .title{
    font-weight: 700;
    margin: 5px 0;
  }
  .group-item .desc .info {
    font-size: 13px;
  }
  .group-item  img {
    width: 55px;
  }
  
  .am-flexbox-align-stretch {
    margin-bottom: 10px;
  }
  .am-grid-item:first-child {
    margin-right: 10px;
  }
  .am-grid-item {
    background-color: #fff;
  }
  /* 覆盖默认背景色 */

  .am-grid .am-flexbox {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content{
    padding: 10px 0 15px 0!important;
  }

  /* 最新资讯 */
  .news {
    padding: 0 10px;
  }
  .news h3 {
    padding: 10px 0 10px 5px;
  }
  .am-list-item .am-list-thumb:first-child {
    margin-right: 15px;
    width: 100px;
}
.news .info {
  display: flex;
  justify-content: space-between;
}
.news .am-list-item  {
  padding-left: 0;
}
.news .am-list-item img {
  width: 100%;
  height: 100%;
  margin: 10px 0 10px 0;
}
.am-list-item .am-list-line .am-list-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news .am-list-item .am-list-line .am-list-brief {
  font-size: 12px;
}