.swiper {
  height: 212px;
}
.nav {
  padding: 10px 0;
}
  .nav img {
    width: 48px;    
  }
  .nav  h2 {
    font-weight: normal;
    font-size: 13px;
    margin-top: 7px;
  }
  .nav .am-flexbox-item {
    text-align: center;
  }
  .groups {
    padding: 0 10px;
    background-color: #eee;
  }
  .groups-title {
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
  }
  .groups-title h3 {
    font-size: 15px;
    font-weight: 600;
  }
  .groups-title span {
    font-weight: normal;
    font-size: 14px;
    color: #999;
  }
  .group-item .desc .title{
    font-weight: 700;
    margin: 5px 0;
  }
  .group-item .desc .info {
    font-size: 13px;
  }
  .group-item  img {
    width: 55px;
  }
  
  .am-flexbox-align-stretch {
    margin-bottom: 10px;
  }
  .am-grid-item:first-child {
    margin-right: 10px;
  }
  .am-grid-item {
    background-color: #fff;
  }
  /* 覆盖默认背景色 */
  .am-grid .am-flexbox {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content{
    padding: 10px 0 15px 0!important;
  }