.box {
  width: 400px;
  padding: 20px;
  background-color: rgb(114, 146, 96);
}
.box1-1 {
  width: 100%;
}

.box1-2 {
  height: 150px;
  width: 100%;
  margin: 20px 0;
  display: block;
}

.box1-3 {
  margin-top: 20px;
  text-align: center;
}
